__pycache__/
*.py[cod]
*.egg-info/
.venv/
uv.lock

data/raw/*
data/interim/*
data/structured/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/structured/.gitkeep

.vscode/
.idea/

notebooks/.ipynb_checkpoints/

htmlcov/
.coverage*

.ruff_cache/
